# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 57b30d42b6c2ab7f0c0213b991258732058fb2ca98ae03a5a118aa5de20d3e19644c7409b2a00faac5121de973a7ef137f01973ecad16b229c0e9cfae6c1e7a4
  api:
    odesk:
      consumer_key:	'ODESK_CONSUMER_KEY'
      consumer_secret:	'ODESK_CONSUMER_SECRET'
      access_token: 'ODESK_ACCESS_TOKEN'
      access_secret: 'ODESK_ACCESS_SECRET'

test:
  secret_key_base: 138559c71120ddcf20bae0227a3774bff9607c755a4b58f75d194c44b3946a3f227a8a5876ab217286a20b4d1f900cadf7d9caa650d32de29c8a2ab1cea21579

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
